.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
Debug/
Release/
out/

wwwroot/node_modules/
wwwroot/lib/
appsettings*.json

*.log
logs/
*.tlg
*.svclog

*.csproj.user
*.csproj.Transformation.cache
project.lock.json
project.fragment.lock.json

.idea/
*.DotSettings.user
.idea_modules/

Dockerfile*
docker-compose*
!docker-compose.override.yml

*.nupkg
*.snupkg

*.bak
*.swp
*.tmp
*.temp
~$*
*.tmp

.DS_Store
Thumbs.db
desktop.ini

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

packages/
